lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
conf/db.*.json
conf/cloudinary.json
conf/*.pem
tools/vegguide-crawler/output
tools/vegguide-crawler/conf/auth.json
.DS_Store
