<!DOCTYPE html>
<html lang="en" ng-app="mapApp">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Vegan Society{% endblock %}</title>
  <meta name="viewport" content="width=620, user-scalable=no">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-touch.min.js"></script>
  <script type="text/javascript" src="/bundles/scripts.bundle.js"></script>
  <script type="text/javascript" src="/bundles/stylesheets.bundle.js"></script>
</head>
<body>
  {% block content %}
  {% endblock %}
  <div id="host" class="hidden">{{ host }}</div>
</body>
</html>
