<div id="entry" class="hidden">[[ info | json ]]</div>
<h1 class="firstHeading">[[ info.name ]]</h1>
<div class="description" ng-bind-html="description"></div>
<div class="entryContent">
  <ul rn-carousel rn-carousel-buffered rn-carousel-indicator rn-carousel-control class="image ng-cloak">
    <li ng-repeat="image in info.images" ng-style="{'height': image.files[2].height+'px', 'background-image': 'url(' + image.files[2].uri + ')', 'background-size': image.files[2].width+'px '+image.files[2].height+'px', 'background-repeat': 'no-repeat', 'background-position': 'center'}">
    </li>
  </ul>
  <ul class="info">
    <li>
      <dl>
        <dt>Address</dt>
        <dd>[[ info.address ]]</dd>
        <dd>[[ info.city + ', ' + info.region + ' ' + info.postal_code ]]</dd>
        <dd>[[ info.country ]]
      </dl>
    </li>
    <li>
      <dl>
        <dt>Phone</dt>
        <dd><a href="tel:[[ info.phone ]]">[[ info.phone ]]</a></dd>
      </dl>
    </li>
    <li>
      <dl>
        <dt>Website</dt>
        <dd><a href="[[ info.website ]]">[[ info.website ]]</a></dd>
      </dl>
    </li>
    <li>
      <dl>
        <dt>Categories</dt>
        <dd ng-repeat="category in info.categories">[[ category ]]</dd>
      </dl>
    </li>
    <li ng-hide="info.cuisines.length === 0">
      <dl>
        <dt>Cuisines</dt>
        <dd ng-repeat="cuisine in info.cuisines">[[ cuisine ]]</dd>
      </dl>
    </li>
    <li>
      <dl>
        <dt>Price Range</dt>
        <dd>[[ info.price_range ]]</dd>
      </dl>
    </li>
    <li>
      <dl>
        <dt>Accepts Reservations</dt>
        <dd ng-class="{'yes': (info.accepts_reservations), 'no': (!info.accepts_reservations)}">[[ info.accepts_reservations | checkmark ]]</dd>
      </dl>
    </li>
    <li>
      <dl>
        <dt>Allows Smoking</dt>
        <dd ng-class="{'yes': (info.allows_smoking), 'no': (!info.allows_smoking)}">[[ info.allows_smoking | checkmark ]]</dd>
      </dl>
    </li>
    <li>
      <dl>
        <dt>Wheelchair Accessible</dt>
        <dd ng-class="{'yes': (info.is_wheelchair_accessible), 'no': (!info.is_wheelchair_accessible)}">[[ info.is_wheelchair_accessible | checkmark ]]</dd>
      </dl>
    </li>
    <li ng-hide="info.is_cash_only !== 0">
      <dl>
        <dt>Cash Only</dt>
        <dd ng-class="{'yes': (info.is_cash_only), 'no': (!info.is_cash_only)}">[[ info.is_cash_only | checkmark ]]</dd>
      </dl>
    </li>
    <li ng-hide="info.is_cash_only === 0">
      <dl>
        <dt>Payment Options</dt>
        <dd ng-repeat="option in info.payment_options">[[ option ]]</dd>
      </dl>
    </li>
  </ul>
</div>

