<!--<div id="content">
  <h2 id="firstHeading" class="firstHeading">[[ name ]]</h2>
  <div id="bodyContent">
    <p>[[ short_description ]]</p>
    <p>[[ address1 ]] [[ address2 ]]</p>
    <p>[[ city ]], [[ region ]], [[ country ]]</p>
  </div>
</div>
<div id="side"><div id="side-table">
    <div id="side-el">
      <a href="/locations/[[ objectId ]]">
        <img src="/images/right_arrow.svg" alt="More detail"/>
      </a>
    </div>
  </div>
</div>-->
<h2 class="heading [[ info.popup_class ]]">[[ name ]]</h2> 
<div class="body-content [[ info.popup_class ]]">
  <div class="body-text">
    <p>[[ info.short_description ]]</p> 
    <p id="address-line-1">
      <span id="address1">[[ info.address1 ]]</span>
      <span id="address2" data-ng-hide="address2">[[ , info.address2 ]]</span>
    </p> 
    <p id="address-line-2">[[ info.city ]], [[ info.region ]] [[ info.postal_code ]], [[ info.country ]]</p>
    <a data-ng-href="[[ info.hash ]]/location/[[ info._id ]]">More info</a>
  </div>
  <img class="popup-image" src="#" data-ng-src="[[ info.thumbnails[0] ]]" alt="[[ info.caption ]]">
</div>
