html, body, .fullscreen, #map
  height 100%
  margin 0
  padding 0

.hidden
  display none

.firstHeading
  color green
  text-align center

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

.flex
  vendor('display', box)
  vendor('display', flexbox)
  vendor('display', flex)

.bodyContent
  @extend .flex
  vendor('box-orient', horizontal)
  vendor('box-direction', normal)
  vendor('flex-direction', row)
  vendor('box-pack', justify)
  vendor('flex-pack', justify)
  vendor('justify-content', space-between)
  /*display -moz-box
  display -webkit-box
  display box
  display -moz-flexbox
  display -webkit-flexbox
  display -ms-flexbox
  display flexbox
  display -webkit-flex
  display flex
  box-orient horizontal
  box-direction normal
  flex-direction row
  box-pack justify
  flex-pack justify
  justify-content space-between*/

.entryContent
  @extend .flex
  vendor('box-orient', vertical)
  vendor('box-direction', normal)
  vendor('flex-direction', column)
  vendor('box-align', center)
  vendor('flex-align', center)
  vendor('align-items', center)

#address1
  margin-bottom 0

#address2
  margin-top 0

.description
  text-align center

ul.info
  clear both
  margin 0
  list-style none

ul.info > li
  display inline-block
  vertical-align top
  text-align center

ul.info > li > dl > dt
  font-weight bold

dd
  margin 0

.large
  font-size 20px
