html, body, .fullscreen, #map
  height 100%
  margin 0
  padding 0

.hidden
  display none

.firstHeading
  color green
  text-align center

.bodyContent
  display -moz-box
  display -webkit-box
  display box
  display -moz-flexbox
  display -webkit-flexbox
  display -ms-flexbox
  display flexbox
  display -webkit-flex
  display flex
  box-orient horizontal
  box-direction normal
  flex-direction row
  box-pack justify
  flex-pack justify
  justify-content space-between

#address1
  margin-bottom 0

#address2
  margin-top 0

.description
  text-align center

ul.info
  clear both
  margin 0
  list-style none

ul.info > li
  display inline-block
  vertical-align top
  text-align center

ul.info > li > dl > dt
  font-weight bold

dd
  margin 0

.large
  font-size 20px
