@import "angular-slide-menu"

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

html, body, .fullscreen, #map
  height 100%
  margin 0
  padding 0

.hidden
  display none

.heading
  color green
  text-align center

.flex
  vendor('display', box)
  vendor('display', flexbox)
  vendor('display', flex)

.entry-content
  @extend .flex
  vendor('box-orient', vertical)
  vendor('box-direction', normal)
  vendor('flex-direction', column)
  vendor('box-align', center)
  vendor('flex-align', center)
  vendor('align-items', center)

#address-line-1
  margin-bottom 0

#address-line-2
  margin-top 0

.description
  text-align center

ul.info
  clear both
  margin 0
  list-style none
  max-width 600px

ul.info > li
  display inline-block
  vertical-align top
  text-align center

ul.info > li > dl > dt
  font-weight bold

dd
  margin 0

.large
  font-size 20px

.rn-carousel-container
  max-width 600px

.yes
  color green

.no
  color red

#menu
  background-color rgb(83,159,61)
  padding-top 20
